body{
  background:#0b0b0b;
  color:#fff;
  font-family:Arial;
}
.container{
  max-width:420px;
  margin:40px auto;
  background:#000;
  padding:25px;
  border-radius:12px;
  box-shadow:0 0 25px rgba(197,160,89,.4);
}
h1{
  text-align:center;
  color:#C5A059;
}
.subtitle{
  text-align:center;
  color:#aaa;
}
input,select,button{
  width:100%;
  padding:12px;
  margin-top:12px;
  border-radius:6px;
  border:none;
}
input,select{background:#222;color:#fff;}
button{
  background:#C5A059;
  font-weight:bold;
  cursor:pointer;
}
.card{
  background:#111;
  padding:12px;
  border-radius:8px;
  margin-top:10px;
}
